USE [SHEMS]
GO
ALTER TABLE [dbo].[ServiceLocation] DROP CONSTRAINT [FK__ServiceLo__cust___4BAC3F29]
GO
ALTER TABLE [dbo].[EnergyLog] DROP CONSTRAINT [FK__EnergyLog__dev_i__5629CD9C]
GO
ALTER TABLE [dbo].[Device] DROP CONSTRAINT [FK__Device__sl_id__4E88ABD4]
GO
ALTER TABLE [dbo].[ActivityLog] DROP CONSTRAINT [FK__ActivityL__dev_i__534D60F1]
GO
/****** Object:  Table [dbo].[ServiceLocation]    Script Date: 12/13/2023 12:45:48 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ServiceLocation]') AND type in (N'U'))
DROP TABLE [dbo].[ServiceLocation]
GO
/****** Object:  Table [dbo].[PriceList]    Script Date: 12/13/2023 12:45:48 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PriceList]') AND type in (N'U'))
DROP TABLE [dbo].[PriceList]
GO
/****** Object:  Table [dbo].[EnergyLog]    Script Date: 12/13/2023 12:45:48 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EnergyLog]') AND type in (N'U'))
DROP TABLE [dbo].[EnergyLog]
GO
/****** Object:  Table [dbo].[DeviceModel]    Script Date: 12/13/2023 12:45:48 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DeviceModel]') AND type in (N'U'))
DROP TABLE [dbo].[DeviceModel]
GO
/****** Object:  Table [dbo].[Device]    Script Date: 12/13/2023 12:45:48 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Device]') AND type in (N'U'))
DROP TABLE [dbo].[Device]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 12/13/2023 12:45:48 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Customer]') AND type in (N'U'))
DROP TABLE [dbo].[Customer]
GO
/****** Object:  Table [dbo].[ActivityLog]    Script Date: 12/13/2023 12:45:48 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ActivityLog]') AND type in (N'U'))
DROP TABLE [dbo].[ActivityLog]
GO
/****** Object:  Table [dbo].[ActivityLog]    Script Date: 12/13/2023 12:45:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLog](
	[act_id] [int] NOT NULL,
	[dev_id] [int] NULL,
	[act_time] [datetime] NULL,
	[act_label] [nvarchar](100) NULL,
	[act_val] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[act_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 12/13/2023 12:45:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[cust_id] [int] NOT NULL,
	[cust_fname] [nvarchar](100) NULL,
	[cust_lname] [nvarchar](100) NULL,
	[cust_email] [nvarchar](100) NULL,
	[cust_phone] [nvarchar](20) NULL,
	[bill_addr] [nvarchar](255) NULL,
	[bill_addr_city] [nvarchar](100) NULL,
	[bill_addr_state] [nvarchar](100) NULL,
	[bill_addr_zip] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[cust_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Device]    Script Date: 12/13/2023 12:45:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Device](
	[dev_id] [int] NOT NULL,
	[sl_id] [int] NULL,
	[mid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[dev_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceModel]    Script Date: 12/13/2023 12:45:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceModel](
	[mid] [int] NOT NULL,
	[m_type] [nvarchar](100) NULL,
	[m_name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[mid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnergyLog]    Script Date: 12/13/2023 12:45:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnergyLog](
	[el_id] [int] NOT NULL,
	[dev_id] [int] NULL,
	[el_time] [datetime] NULL,
	[el_val] [float] NULL,
	[el_price] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[el_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PriceList]    Script Date: 12/13/2023 12:45:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriceList](
	[zip] [nvarchar](20) NOT NULL,
	[hourofday] [int] NOT NULL,
	[price_per_kw] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[zip] ASC,
	[hourofday] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceLocation]    Script Date: 12/13/2023 12:45:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceLocation](
	[sl_id] [int] NOT NULL,
	[cust_id] [int] NULL,
	[sl_unit_no] [nvarchar](10) NULL,
	[sl_addr] [nvarchar](255) NULL,
	[sl_city] [nvarchar](100) NULL,
	[sl_state] [nvarchar](100) NULL,
	[sl_zip] [nvarchar](20) NULL,
	[sl_boughtat] [date] NULL,
	[sl_squarefootage] [int] NULL,
	[sl_bedrooms] [int] NULL,
	[sl_occupants] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[sl_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ActivityLog] ([act_id], [dev_id], [act_time], [act_label], [act_val]) VALUES (1, 1, CAST(N'2023-11-30T15:14:06.610' AS DateTime), N'door_open', NULL)
INSERT [dbo].[ActivityLog] ([act_id], [dev_id], [act_time], [act_label], [act_val]) VALUES (2, 2, CAST(N'2022-08-01T08:00:00.000' AS DateTime), N'door_open', NULL)
INSERT [dbo].[ActivityLog] ([act_id], [dev_id], [act_time], [act_label], [act_val]) VALUES (3, 3, CAST(N'2022-09-01T08:00:00.000' AS DateTime), N'door_open', NULL)
GO
INSERT [dbo].[Customer] ([cust_id], [cust_fname], [cust_lname], [cust_email], [cust_phone], [bill_addr], [bill_addr_city], [bill_addr_state], [bill_addr_zip]) VALUES (1, N'John', N'Doe', N'johndoe@email.com', N'555-1234', N'123 Main St', N'New York', N'NY', N'10001')
INSERT [dbo].[Customer] ([cust_id], [cust_fname], [cust_lname], [cust_email], [cust_phone], [bill_addr], [bill_addr_city], [bill_addr_state], [bill_addr_zip]) VALUES (2, N'Jane', N'Smith', N'janesmith@email.com', N'555-5678', N'456 Park Ave', N'New York', N'NY', N'10002')
INSERT [dbo].[Customer] ([cust_id], [cust_fname], [cust_lname], [cust_email], [cust_phone], [bill_addr], [bill_addr_city], [bill_addr_state], [bill_addr_zip]) VALUES (3, N'Alice', N'Johnson', N'alicej@email.com', N'555-1235', N'789 Broadway', N'New York', N'NY', N'10003')
GO
INSERT [dbo].[Device] ([dev_id], [sl_id], [mid]) VALUES (1, 1, 1)
INSERT [dbo].[Device] ([dev_id], [sl_id], [mid]) VALUES (2, 2, 2)
INSERT [dbo].[Device] ([dev_id], [sl_id], [mid]) VALUES (3, 3, 3)
GO
INSERT [dbo].[DeviceModel] ([mid], [m_type], [m_name]) VALUES (1, N'Refrigerator', N'Model X')
INSERT [dbo].[DeviceModel] ([mid], [m_type], [m_name]) VALUES (2, N'Refrigerator', N'Samsung 8000 Dual Cool')
INSERT [dbo].[DeviceModel] ([mid], [m_type], [m_name]) VALUES (3, N'Refrigerator', N'Onida 6789 Super')
GO
INSERT [dbo].[EnergyLog] ([el_id], [dev_id], [el_time], [el_val], [el_price]) VALUES (1, 1, CAST(N'2023-11-30T14:34:54.553' AS DateTime), 0.5, 0.1)
INSERT [dbo].[EnergyLog] ([el_id], [dev_id], [el_time], [el_val], [el_price]) VALUES (2, 2, CAST(N'2022-08-01T08:00:00.000' AS DateTime), 0.4, 0.1)
INSERT [dbo].[EnergyLog] ([el_id], [dev_id], [el_time], [el_val], [el_price]) VALUES (3, 3, CAST(N'2022-09-01T08:00:00.000' AS DateTime), 0.6, 0.18)
GO
INSERT [dbo].[PriceList] ([zip], [hourofday], [price_per_kw]) VALUES (N'10001', 0, 0.59)
INSERT [dbo].[PriceList] ([zip], [hourofday], [price_per_kw]) VALUES (N'10001', 1, 0.43)
INSERT [dbo].[PriceList] ([zip], [hourofday], [price_per_kw]) VALUES (N'10001', 2, 0.58)
GO
INSERT [dbo].[ServiceLocation] ([sl_id], [cust_id], [sl_unit_no], [sl_addr], [sl_city], [sl_state], [sl_zip], [sl_boughtat], [sl_squarefootage], [sl_bedrooms], [sl_occupants]) VALUES (1, 1, N'Apt 1', N'123 Main St', N'New York', N'NY', N'10001', CAST(N'2022-01-01' AS Date), 1000, 2, 4)
INSERT [dbo].[ServiceLocation] ([sl_id], [cust_id], [sl_unit_no], [sl_addr], [sl_city], [sl_state], [sl_zip], [sl_boughtat], [sl_squarefootage], [sl_bedrooms], [sl_occupants]) VALUES (2, 2, N'Apt 2', N'456 Park Ave', N'New York', N'NY', N'10002', CAST(N'2022-02-01' AS Date), 1200, 3, 3)
INSERT [dbo].[ServiceLocation] ([sl_id], [cust_id], [sl_unit_no], [sl_addr], [sl_city], [sl_state], [sl_zip], [sl_boughtat], [sl_squarefootage], [sl_bedrooms], [sl_occupants]) VALUES (3, 3, N'Apt 3', N'789 Broadway', N'New York', N'NY', N'10003', CAST(N'2022-03-01' AS Date), 950, 2, 2)
GO
ALTER TABLE [dbo].[ActivityLog]  WITH CHECK ADD FOREIGN KEY([dev_id])
REFERENCES [dbo].[Device] ([dev_id])
GO
ALTER TABLE [dbo].[Device]  WITH CHECK ADD FOREIGN KEY([sl_id])
REFERENCES [dbo].[ServiceLocation] ([sl_id])
GO
ALTER TABLE [dbo].[EnergyLog]  WITH CHECK ADD FOREIGN KEY([dev_id])
REFERENCES [dbo].[Device] ([dev_id])
GO
ALTER TABLE [dbo].[ServiceLocation]  WITH CHECK ADD FOREIGN KEY([cust_id])
REFERENCES [dbo].[Customer] ([cust_id])
GO
