<!-- templates/add_service_location.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Service Location</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Add a Service Location</h1>
    <form action="/submit-service-location" method="post" id="add-service-form">
        <input type="text" name="unit_number" placeholder="Unit Number" required>
        <input type="text" name="address" placeholder="Address" required>
        <input type="text" name="city" placeholder="City" required>
        <input type="text" name="state" placeholder="State" required>
        <input type="text" name="zipcode" placeholder="Zipcode" required>
        Bought at:<br>
        <input type="date" name="bought_at" placeholder="Bought at" required>
        <input type="number" name="square_footage" placeholder="Square footage" required min="0">
        <input type="number" name="number_of_bedrooms" placeholder="No. of bedrooms" required min="0">
        <input type="number" name="number_of_occupants" placeholder="No. of occupants" required min="0">
        <section id="add-devices">
            <h2>Add Devices</h2>
            <div id="device-section">
            <div class="device-form">
                <label for="device-type">Type:</label>
                <select name="device_type" class="device-type" required>
                    <option value="">Select Type</option>
                    <option value="Refrigerator">Refrigerator</option>
                    <option value="Light Bulb">Light Bulb</option>
                    <option value="Washer">Washer</option>
                    <option value="Dryer">Dryer</option>
                    <option value="Television">Television</option>
                    <option value="Heater">Heater</option>
                </select>

                <label for="model-name">Model Name:</label>
                <select name="model_name" class="model-name" required>
                    <option value="">Select Model</option>
                    <!-- Model options will be populated based on Type selection -->
                </select>
            </div>
            </div>
            <button type="button" id="add-device-btn">Add new device</button>
        </section>
        <button type="submit">Submit</button>
    </form>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('add-device-btn').addEventListener('click', function() {
        var deviceSection = document.getElementById('device-section');
        var original = document.querySelector('.device-form');
        var clone = original.cloneNode(true);
        deviceSection.appendChild(clone);
        });
    });
    </script>
    <script src="{{ url_for('static', filename='add-device.js') }}" defer></script>
</body>
</html>
