<!-- templates/homepage.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Home Energy Management System - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Smart Home Energy Management System</h1>
    <div id="welcome-message">Hi {{ user_name }}!</div>
    <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>

    <!-- Add this section below your greeting message in homepage.html -->
<section id="service-locations">
    <h2>Your Service Locations</h2>
    <button id="add-service-location-btn" onclick="window.location.href='/add-service-location'">Add a Service Location</button>
    <table>
        <thead>
            <tr>
                <th>SL ID</th>
                <th>Unit No.</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
            </tr>
        </thead>
        <tbody>
            {% for location in service_locations %}
            <tr>
                <td><a href="{{ url_for('service_location_details', sl_id=location.sl_id) }}">{{ location.sl_id }}</a></td>
                <td>{{ location.sl_unit_no }}</td>
                <td>{{ location.sl_addr }}</td>
                <td>{{ location.sl_city }}</td>
                <td>{{ location.sl_state }}</td>
                <td>{{ location.sl_zip }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>


    <script>
        window.onload = function() {
            var userName = sessionStorage.getItem('user_name');
            if (userName) {
                document.getElementById('welcome-message').textContent = 'Hi! ' + userName;
            } else {
                // Redirect to login page if userName not found in session storage
                // window.location.href = '/login';
            }
        };
    </script>
</body>
</html>
